# <center> **Problem Statement** </center>

A teacher has conducted an assessment test. The
students were evaluated on 5 different subjects A, B, C, D, and E. The marks of
5 different subjects out of 100 are given below. Help the teacher to find out
the answers of the following questions.

    ‚óè Who scored the highest marks in the subject B?
    ‚óè What is the average marks scored in the subject C?
    ‚óè Who scored the highest percentage of marks?
    ‚óè If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?
    ‚óè Who scored the minimum marks in the subject E?

In [52]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

## ‚óè üôá Who scored the highest marks in the subject B?

In [53]:
marks_n_names_B=[]

for record in student_marks[1:]:
    marks_n_names_B.append((record[1][1],record[0])) # extract marks of Subject B
    
print("original copy:",marks_n_names_B)
marks_n_names_B.sort(reverse=True) # sort Ascending
print('Sorted Copy:',marks_n_names_B)
print(f"{marks_n_names_B[0][1]} scored the highest marks in subject B.")

original copy: [(34, 'Ankit'), (23, 'Aravind'), (23, 'Lakshay'), (82, 'Gyan'), (23, 'Pranav')]
Sorted Copy: [(82, 'Gyan'), (34, 'Ankit'), (23, 'Pranav'), (23, 'Lakshay'), (23, 'Aravind')]
Gyan scored the highest marks in subject B.

## ‚óè üôá What is the average marks scored in the subject C?

In [54]:
marks_c=[]
for record in student_marks[1:]:
    marks_c.append(record[1][2])
print(marks_c)
print('Average marks scored in the subject C is:',round(sum(marks_c)/len(marks_c)))

[45, 34, 13, 23, 25]
Average marks scored in the subject C is: 28

## ‚óè üôá Who scored the highest percentage of marks?

In [55]:
percentage =[]
for record in student_marks[1:]:
    percentage.append(((sum(record[1])/500)*100,record[0]))
percentage.sort(reverse=True)
print(f'{percentage[0][1]} Got Highest Percentage')

Ankit Got Highest Percentage

## ‚óè üôá If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [56]:
percentage_top4=[]
for record in student_marks[1:]:
    temp=record.copy()
    percentage_top4.append( (sum(temp[1][:-1])/400,temp[0]))
    
percentage_top4.sort(reverse=True)
print(percentage_top4)
print(f"Considering top 4 subject, highest percentage is to {percentage_top4[0][1]}")

[(0.4775, 'Gyan'), (0.4375, 'Ankit'), (0.3575, 'Aravind'), (0.3125, 'Pranav'), (0.305, 'Lakshay')]
Considering top 4 subject, highest percentage is to Gyan

## ‚óè üôá Who scored the minimum marks in the subject E?

In [57]:
marks_n_names_E = []

for record in student_marks[1:]:
    marks_n_names_E.append((record[1][4],record[0])) # extract marks of Subject E
    
# print("original copy:",marks_n_names_E)
# print('_'*100)
marks_n_names_E.sort() # sort Ascending
# print('Sorted Copy:',marks_n_names_E)
print('_'*100)
print(f"{marks_n_names_E[0][1]} scored the lowest in the subject E i.e.{marks_n_names_E[0][0]}.")
print('_'*100)

____________________________________________________________________________________________________
Gyan scored the lowest in the subject E i.e.34.
____________________________________________________________________________________________________